.register-round-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background: linear-gradient(to bottom, #f0f8f0, #e0e8e0); 
  font-family: "Poppins", sans-serif;
  color: #003d00;
  text-align: center;
}

.register-title {
  font-size: 26px;
  font-weight: bold;
  color: #005a00;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.register-form {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0, 128, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 2px solid #008000;
}

.input-field-reg {
  width: 100%;
  padding: 12px;
  border: 2px solid #006400;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s ease-in-out;
  background: #f9f9f9;
}

.input-field-reg:focus {
  border-color: #004d00;
  outline: none;
  background: #eaffea;
}

.register-button {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  background: linear-gradient(135deg, #008000, #005a00);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.register-button:hover {
  background: linear-gradient(135deg, #006400, #004000);
  transform: scale(1.05);
}

.rounds-title {
  margin-top: 30px;
  font-size: 22px;
  font-weight: bold;
  color: #004d00;
}

.rounds-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  width: 90%;
  max-width: 500px;
  border-top: 2px solid #008000;
  border-bottom: 2px solid #008000;
  padding-top: 10px;
  padding-bottom: 3rem;
}

.round-item {
  background: #d0eacd;
  border: 1px solid rgb(0, 58, 0);
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0, 128, 0, 0.2);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.round-item:hover {
  transform: scale(1.03);
  box-shadow: 0px 5px 12px rgba(0, 128, 0, 0.3);
}

.round-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 5px;
}

.round-date {
  font-size: 14px;
  color: #005a00;
  padding-right: 2rem;
}

.round-course {
  font-size: 16px;
  font-weight: bold;
  color: #004000;
  padding-bottom: 2px;
}

.round-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.round-score{
  font-size: 14px;
  color: #005a00;
  padding-right: 2rem;
}

.round-hcp {
  font-size: 16px;
  font-weight: bold;
  color: #004000;
  padding-bottom: 2px;
}


.loading-text {
  font-size: 16px;
  font-weight: bold;
  color: #006400;
}

.no-rounds-text {
  font-size: 16px;
  color: #333;
  margin-top: 15px;
}

@media (min-width: 600px) {
  .register-title {
    font-size: 45px;
  }

  .register-form {
    padding: 30px;
    max-width: 700px;
  }

  .input-field-reg {
    font-size: 30px;
    padding: 14px;
  }

  .register-button {
    font-size: 35px;
    padding: 14px;
  }

  .rounds-list  {
    max-width: 700px;
  }

  .rounds-title {
    font-size: 45px;
  }

  .round-item {
    font-size: 27px;
    padding: 20px;
  }

  .round-info p, .round-stats p {
    font-size: 28px;
  }
}
